/* line 5, ../sass/styles.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 10, ../sass/styles.scss */
.pb-page {
  color: #8a8a8a;
  font-size: 13px;
  font-family: Arial;
}

/* line 16, ../sass/styles.scss */
.g-center {
  margin: 0 auto;
  width: 1160px;
  padding-left: 16px;
  padding-right: 16px;
}

/* line 23, ../sass/styles.scss */
.g-clear {
  clear: both;
}

/* line 27, ../sass/styles.scss */
.b-header {
  padding-top: 1px;
  height: 109px;
}
/* line 31, ../sass/styles.scss */
.b-header .b-header__logo {
  margin-top: 35px;
  margin-left: 5px;
  display: block;
  float: left;
}
/* line 37, ../sass/styles.scss */
.b-header .b-header__icons {
  float: right;
  margin-right: 3px;
  margin-top: 47px;
}
/* line 42, ../sass/styles.scss */
.b-header .b-header__icons .b-socicons_icon {
  display: inline-block;
  float: left;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 49, ../sass/styles.scss */
.b-header .b-header__icons .b-socicons_icon + .b-socicons_icon {
  margin-left: 17px;
}
/* line 52, ../sass/styles.scss */
.b-header .b-header__icons .b-socicons_icon_facebook {
  width: 8px;
  background-image: url(../img/fb.png);
}
/* line 56, ../sass/styles.scss */
.b-header .b-header__icons .b-socicons_icon_facebook:hover {
  background-image: url(../img/fbh.png);
}
/* line 59, ../sass/styles.scss */
.b-header .b-header__icons .b-socicons_icon_twitter {
  width: 17px;
  background-image: url(../img/tw.png);
}
/* line 63, ../sass/styles.scss */
.b-header .b-header__icons .b-socicons_icon_twitter:hover {
  background-image: url(../img/twh.png);
}
/* line 66, ../sass/styles.scss */
.b-header .b-header__icons .b-socicons_icon_rss {
  width: 15px;
  background-image: url(../img/rss.png);
}
/* line 70, ../sass/styles.scss */
.b-header .b-header__icons .b-socicons_icon_rss:hover {
  background-image: url(../img/rssh.png);
}
/* line 73, ../sass/styles.scss */
.b-header .b-header__icons .b-socicons_icon_linkedin {
  width: 16px;
  background-image: url(../img/in.png);
}
/* line 77, ../sass/styles.scss */
.b-header .b-header__icons .b-socicons_icon_linkedin:hover {
  background-image: url(../img/inh.png);
}
/* line 80, ../sass/styles.scss */
.b-header .b-header__icons .b-socicons_icon_skype {
  height: 16px;
  background-image: url(../img/sk.png);
}
/* line 84, ../sass/styles.scss */
.b-header .b-header__icons .b-socicons_icon_skype:hover {
  background-image: url(../img/skh.png);
}

/* line 92, ../sass/styles.scss */
.b-navi-search {
  height: 56px;
  background: #2a2d32;
}
/* line 96, ../sass/styles.scss */
.b-navi-search .b-navi-search__navi {
  float: left;
}
/* line 99, ../sass/styles.scss */
.b-navi-search .b-navi-search__navi .b-navi_link {
  width: 106px;
  display: inline-block;
  float: left;
  height: 56px;
  line-height: 56px;
  border-right: 1px solid #181a1d;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Ubuntu Condensed', sans-serif;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
/* line 113, ../sass/styles.scss */
.b-navi-search .b-navi-search__navi .b-navi_link:hover {
  color: #f4b60d;
}
/* line 116, ../sass/styles.scss */
.b-navi-search .b-navi-search__navi .b-navi_link_active {
  background: #248cec;
}
/* line 121, ../sass/styles.scss */
.b-navi-search .b-navi-search__search {
  float: right;
  padding-top: 1px;
}
/* line 125, ../sass/styles.scss */
.b-navi-search .b-navi-search__search .b-search {
  width: 239px;
  height: 38px;
  margin-top: 7px;
  margin-right: 8px;
  border: 1px solid #181a1d;
  background: #35383c;
}
/* line 133, ../sass/styles.scss */
.b-navi-search .b-navi-search__search .b-search .b-search__input_text {
  float: left;
  width: 190px;
  height: 38px;
}
/* line 138, ../sass/styles.scss */
.b-navi-search .b-navi-search__search .b-search .b-search__input_text .b-input_search {
  width: 170px;
  border: none;
  background: none;
  height: 38px;
  padding: 0 10px;
  font-size: 12px;
  color: #626466;
}
/* line 147, ../sass/styles.scss */
.b-navi-search .b-navi-search__search .b-search .b-search__input_text .b-input_search:focus {
  color: #fff;
}
/* line 152, ../sass/styles.scss */
.b-navi-search .b-navi-search__search .b-search .b-search__input_submit {
  float: right;
  height: 38px;
  width: 38px;
}
/* line 157, ../sass/styles.scss */
.b-navi-search .b-navi-search__search .b-search .b-search__input_submit .b-input_submit {
  height: 38px;
  width: 38px;
  cursor: pointer;
  border: none;
  background: url(../img/search.png) no-repeat center;
}
/* line 164, ../sass/styles.scss */
.b-navi-search .b-navi-search__search .b-search .b-search__input_submit .b-input_submit:hover {
  opacity: 0.9;
}

/* line 173, ../sass/styles.scss */
.b-slider {
  margin-top: 40px;
  position: relative;
}
/* line 177, ../sass/styles.scss */
.b-slider .b-slider__slides {
  width: 1160px;
  height: 470px;
}
/* line 181, ../sass/styles.scss */
.b-slider .b-slider__slides .b-slides {
  width: 1160px;
  height: 470px;
  position: relative;
}
/* line 186, ../sass/styles.scss */
.b-slider .b-slider__slides .b-slides .b-slides__slide {
  width: 1160px;
  height: 470px;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  z-index: 1;
}
/* line 195, ../sass/styles.scss */
.b-slider .b-slider__slides .b-slides .b-slides__slide .b-slides__slide_img {
  display: block;
  width: 1160px;
  height: 470px;
}
/* line 200, ../sass/styles.scss */
.b-slider .b-slider__slides .b-slides .b-slides__slide .b-slides__slide_name {
  position: absolute;
  left: 38px;
  bottom: 40px;
}
/* line 205, ../sass/styles.scss */
.b-slider .b-slider__slides .b-slides .b-slides__slide .b-slides__slide_name .b-namebg {
  background: url(../img/bgs.png);
  font-size: 54px;
  color: #fff;
  line-height: 110%;
  font-family: 'Ubuntu', sans-serif;
}
/* line 212, ../sass/styles.scss */
.b-slider .b-slider__slides .b-slides .b-slides__slide .b-slides__slide_name .b-namebg span {
  display: inline-block;
  padding-left: 25px;
  padding-right: 25px;
}
/* line 218, ../sass/styles.scss */
.b-slider .b-slider__slides .b-slides .b-slides__slide .b-slides__slide_name .b-namebg span.g-orange {
  color: #f4b60d;
}
/* line 224, ../sass/styles.scss */
.b-slider .b-slider__slides .b-slides .b-slides__slide.active {
  z-index: 2;
}
/* line 230, ../sass/styles.scss */
.b-slider .b-slider__navi {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  bottom: 17px;
}
/* line 237, ../sass/styles.scss */
.b-slider .b-slider__navi .b-slider-navi {
  text-align: center;
}
/* line 240, ../sass/styles.scss */
.b-slider .b-slider__navi .b-slider-navi .b-slider-navi_link {
  border: 3px solid #fff;
  display: inline-block;
  height: 9px;
  width: 9px;
  background: #fff;
  margin: 0 8px;
  cursor: pointer;
}
/* line 249, ../sass/styles.scss */
.b-slider .b-slider__navi .b-slider-navi .b-slider-navi_link.active, .b-slider .b-slider__navi .b-slider-navi .b-slider-navi_link:hover {
  background: #001d1d;
}

/* line 257, ../sass/styles.scss */
.b-vantage {
  padding-top: 75px;
  padding-bottom: 85px;
  float: left;
  width: 360px;
}
/* line 263, ../sass/styles.scss */
.b-vantage .b-vantage__name {
  width: 100px;
  float: left;
  color: #efeff0;
  font-size: 82px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 62px;
}
/* line 271, ../sass/styles.scss */
.b-vantage .b-vantage__content {
  float: right;
  width: 237px;
}
/* line 275, ../sass/styles.scss */
.b-vantage .b-vantage__content .b-v-content__ico {
  height: 42px;
}
/* line 278, ../sass/styles.scss */
.b-vantage .b-vantage__content .b-v-content__ico__1 {
  background: url(../img/ico1.png) no-repeat;
}
/* line 281, ../sass/styles.scss */
.b-vantage .b-vantage__content .b-v-content__ico__2 {
  background: url(../img/ico2.png) no-repeat;
}
/* line 284, ../sass/styles.scss */
.b-vantage .b-vantage__content .b-v-content__ico__3 {
  background: url(../img/ico3.png) no-repeat;
}
/* line 288, ../sass/styles.scss */
.b-vantage .b-vantage__content .b-v-content__name {
  font-size: 20px;
  color: #2a2b2e;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}
/* line 294, ../sass/styles.scss */
.b-vantage .b-vantage__content .b-v-content__text {
  font-size: 13px;
  color: #8a8a8a;
  margin-top: 20px;
}
/* line 299, ../sass/styles.scss */
.b-vantage .b-vantage__content .b-v-content__more {
  margin-top: 15px;
}
/* line 302, ../sass/styles.scss */
.b-vantage .b-vantage__content .b-v-content__more a {
  color: #2a2b2e;
  text-decoration: none;
  font-size: 13px;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  padding-right: 20px;
  background: url(../img/arr.png) no-repeat right center;
}
/* line 312, ../sass/styles.scss */
.b-vantage .b-vantage__content .b-v-content__more a:hover {
  color: #248cec;
  background: url(../img/arrh.png) no-repeat right center;
}

/* line 320, ../sass/styles.scss */
.b-vantage + .b-vantage {
  margin-left: 40px;
}

/* line 324, ../sass/styles.scss */
.b-wrap-services {
  padding-top: 45px;
  padding-bottom: 70px;
  background: #2a2d32;
}
/* line 329, ../sass/styles.scss */
.b-wrap-services .b-services__name {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #fff;
}
/* line 336, ../sass/styles.scss */
.b-wrap-services .b-services__one {
  float: left;
  width: 260px;
  margin-top: 54px;
}
/* line 341, ../sass/styles.scss */
.b-wrap-services .b-services__one .b-services-link {
  display: block;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  text-align: center;
}
/* line 350, ../sass/styles.scss */
.b-wrap-services .b-services__one .b-services-link .b-services-link__wrap-image {
  display: block;
}
/* line 354, ../sass/styles.scss */
.b-wrap-services .b-services__one .b-services-link .b-services-link__name-services {
  display: block;
  margin-top: 30px;
}
/* line 360, ../sass/styles.scss */
.b-wrap-services .b-services__one .b-services-link:hover {
  color: #f4b60d;
}
/* line 363, ../sass/styles.scss */
.b-wrap-services .b-services__one .b-services-link:hover .b-services-link__wrap-image {
  position: relative;
}
/* line 366, ../sass/styles.scss */
.b-wrap-services .b-services__one .b-services-link:hover .b-services-link__wrap-image .b-services-link__wrap-image_hover {
  display: block;
  width: 260px;
  height: 260px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/servh.png);
}
/* line 375, ../sass/styles.scss */
.b-wrap-services .b-services__one .b-services-link:hover .b-services-link__wrap-image .b-services-link__wrap-image_hover .b-services-link__wrap-image_hover_p {
  display: block;
  position: absolute;
  width: 260px;
  height: 260px;
  left: 0;
  top: 0;
  background: url(../img/servp.png) no-repeat center;
}
/* line 389, ../sass/styles.scss */
.b-wrap-services .b-services__one + .b-services__one {
  margin-left: 40px;
}

/* line 394, ../sass/styles.scss */
.b-wrap-news-banners {
  background: #f7f7f7;
  padding-top: 64px;
  padding-bottom: 80px;
}
/* line 399, ../sass/styles.scss */
.b-wrap-news-banners .b-news {
  float: left;
  width: 560px;
}
/* line 403, ../sass/styles.scss */
.b-wrap-news-banners .b-news .b-news__name {
  font-size: 24px;
  color: #2a2d32;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}
/* line 410, ../sass/styles.scss */
.b-wrap-news-banners .b-news .b-news__content {
  margin-top: 43px;
}
/* line 413, ../sass/styles.scss */
.b-wrap-news-banners .b-news .b-news__content .b-onews {
  position: relative;
}
/* line 416, ../sass/styles.scss */
.b-wrap-news-banners .b-news .b-news__content .b-onews .b-onews__info {
  position: absolute;
  left: -17px;
  top: 12px;
  width: 40px;
}
/* line 422, ../sass/styles.scss */
.b-wrap-news-banners .b-news .b-news__content .b-onews .b-onews__info .b-onews__info_month {
  background: #248cec;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  font-weight: bold;
}
/* line 432, ../sass/styles.scss */
.b-wrap-news-banners .b-news .b-news__content .b-onews .b-onews__info .b-onews__info_day {
  background: #f4b60d;
  text-align: center;
  line-height: 40px;
  height: 40px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #2a2b2e;
}
/* line 445, ../sass/styles.scss */
.b-wrap-news-banners .b-news .b-news__content .b-onews .b-onews__wrap-image {
  float: left;
}
/* line 448, ../sass/styles.scss */
.b-wrap-news-banners .b-news .b-news__content .b-onews .b-onews__wrap-image .b-onews__wrap-image_image {
  display: block;
}
/* line 453, ../sass/styles.scss */
.b-wrap-news-banners .b-news .b-news__content .b-onews .b-onews__content {
  float: right;
  width: 380px;
}
/* line 457, ../sass/styles.scss */
.b-wrap-news-banners .b-news .b-news__content .b-onews .b-onews__content .b-onews__content_name {
  font-size: 16px;
  color: #2a2d32;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  text-decoration: none;
}
/* line 464, ../sass/styles.scss */
.b-wrap-news-banners .b-news .b-news__content .b-onews .b-onews__content .b-onews__content_name:hover {
  color: #248cec;
}
/* line 467, ../sass/styles.scss */
.b-wrap-news-banners .b-news .b-news__content .b-onews .b-onews__content .b-onews__content_info {
  font-size: 13px;
  color: #9e9e9e;
  margin-top: 5px;
}
/* line 472, ../sass/styles.scss */
.b-wrap-news-banners .b-news .b-news__content .b-onews .b-onews__content .b-onews__content_info span {
  display: inline-block;
  margin-right: 5px;
}
/* line 476, ../sass/styles.scss */
.b-wrap-news-banners .b-news .b-news__content .b-onews .b-onews__content .b-onews__content_info span a {
  color: #0187f4;
  text-decoration: none;
}
/* line 480, ../sass/styles.scss */
.b-wrap-news-banners .b-news .b-news__content .b-onews .b-onews__content .b-onews__content_info span a:hover {
  text-decoration: underline;
}
/* line 487, ../sass/styles.scss */
.b-wrap-news-banners .b-news .b-news__content .b-onews .b-onews__content .b-onews__content_text {
  margin-top: 15px;
  font-size: 13px;
  color: #8a8a8a;
  line-height: 20px;
}
/* line 497, ../sass/styles.scss */
.b-wrap-news-banners .b-news .b-news__content .b-onews + .b-onews {
  margin-top: 30px;
}
/* line 503, ../sass/styles.scss */
.b-wrap-news-banners .b-banners {
  float: right;
  width: 560px;
}
/* line 507, ../sass/styles.scss */
.b-wrap-news-banners .b-banners .b-banners__name {
  font-weight: bold;
  font-size: 24px;
  color: #2a2d32;
  font-family: 'Ubuntu', sans-serif;
}
/* line 513, ../sass/styles.scss */
.b-wrap-news-banners .b-banners .b-banners__content {
  margin-top: 45px;
}
/* line 518, ../sass/styles.scss */
.b-wrap-news-banners .b-banners .b-banners__content .b-accordion-panel .b-accordion-panel__head {
  background: #fff;
  height: 37px;
  line-height: 37px;
  color: #2a2d32;
  cursor: pointer;
  border: 1px solid #e8e8e8;
}
/* line 526, ../sass/styles.scss */
.b-wrap-news-banners .b-banners .b-banners__content .b-accordion-panel .b-accordion-panel__head .b-accordion-panel__head_plus {
  width: 37px;
  height: 37px;
  text-align: center;
  float: left;
  border-right: 1px solid #e8e8e8;
  background: url(../img/acplus.png) no-repeat center;
}
/* line 534, ../sass/styles.scss */
.b-wrap-news-banners .b-banners .b-banners__content .b-accordion-panel .b-accordion-panel__head .b-accordion-panel__head_name {
  height: 37px;
  margin-left: 38px;
  border-left: 1px solid #e8e8e8;
  padding-left: 12px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 13px;
}
/* line 547, ../sass/styles.scss */
.b-wrap-news-banners .b-banners .b-banners__content .b-accordion-panel .b-accordion-panel__content {
  display: none;
}
/* line 550, ../sass/styles.scss */
.b-wrap-news-banners .b-banners .b-banners__content .b-accordion-panel .b-accordion-panel__content .b-accordion-panel__content_text {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 38px;
  font-size: 13px;
  color: #8a8a8a;
  line-height: 20px;
}
/* line 564, ../sass/styles.scss */
.b-wrap-news-banners .b-banners .b-banners__content .b-accordion-panel.active .b-accordion-panel__head {
  border: 1px solid #f4b60d;
  background: #f4b60d;
}
/* line 568, ../sass/styles.scss */
.b-wrap-news-banners .b-banners .b-banners__content .b-accordion-panel.active .b-accordion-panel__head .b-accordion-panel__head_plus {
  background: url(../img/acminus.png) no-repeat center;
  border-right: 1px solid #f6c53d;
}
/* line 572, ../sass/styles.scss */
.b-wrap-news-banners .b-banners .b-banners__content .b-accordion-panel.active .b-accordion-panel__head .b-accordion-panel__head_name {
  color: #fff;
  border-left: 1px solid #f4b60d;
}
/* line 579, ../sass/styles.scss */
.b-wrap-news-banners .b-banners .b-banners__content .b-accordion-panel + .b-accordion-panel {
  margin-top: 5px;
}

/* line 587, ../sass/styles.scss */
.b-logos-wrap {
  padding-top: 75px;
  padding-bottom: 80px;
}
/* line 591, ../sass/styles.scss */
.b-logos-wrap .b-logos {
  display: table;
  width: 100%;
}
/* line 595, ../sass/styles.scss */
.b-logos-wrap .b-logos .b-logos__logo {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* line 603, ../sass/styles.scss */
.b-footer__top {
  padding-top: 55px;
  padding-bottom: 80px;
  background: #2a2d32;
}
/* line 608, ../sass/styles.scss */
.b-footer__top .b-footer-menu {
  float: left;
  width: 260px;
}
/* line 612, ../sass/styles.scss */
.b-footer__top .b-footer-menu .b-footer-menu__name {
  font-size: 16px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}
/* line 618, ../sass/styles.scss */
.b-footer__top .b-footer-menu .b-footer-menu__links {
  margin-top: 40px;
}
/* line 621, ../sass/styles.scss */
.b-footer__top .b-footer-menu .b-footer-menu__links li {
  list-style: none;
}
/* line 624, ../sass/styles.scss */
.b-footer__top .b-footer-menu .b-footer-menu__links li a {
  font-size: 13px;
  color: #828385;
  text-decoration: none;
}
/* line 629, ../sass/styles.scss */
.b-footer__top .b-footer-menu .b-footer-menu__links li a:hover {
  color: #248cec;
}
/* line 633, ../sass/styles.scss */
.b-footer__top .b-footer-menu .b-footer-menu__links li + li {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid #393c40;
}
/* line 640, ../sass/styles.scss */
.b-footer__top .b-footer-menu + .b-footer-menu {
  margin-left: 40px;
}

/* line 645, ../sass/styles.scss */
.b-footer__bottom {
  background: #35383c;
  padding: 20px 0px;
  color: #6f7073;
  font-size: 12px;
}
/* line 651, ../sass/styles.scss */
.b-footer__bottom .b-footer__bottom_address {
  display: inline-block;
  padding-left: 24px;
  background: url(../img/location.png) no-repeat center left;
}
/* line 656, ../sass/styles.scss */
.b-footer__bottom .b-footer__bottom_phone {
  margin-left: 34px;
  display: inline-block;
  padding-left: 20px;
  background: url(../img/phone.png) no-repeat left center;
}
/* line 662, ../sass/styles.scss */
.b-footer__bottom .b-footer__bottom_mail {
  display: inline-block;
  margin-left: 42px;
  padding-left: 30px;
  background: url(../img/mail.png) no-repeat left center;
}
/* line 668, ../sass/styles.scss */
.b-footer__bottom .b-footer__bottom_mail a {
  text-decoration: none;
  color: #868789;
}
/* line 672, ../sass/styles.scss */
.b-footer__bottom .b-footer__bottom_mail a:hover {
  color: #248cec;
}
/* line 676, ../sass/styles.scss */
.b-footer__bottom .b-footer__bottom_copyright {
  display: inline-block;
  float: right;
}
